/* INDEX-CSS */

   button {
       padding: 15px 30px;
       font-size: 18px;
       background-color: #3498db;
       color: #fff;
       border: none;
       border-radius: 5px;
       margin: 10px;
       cursor: pointer;
       transition: background-color 0.3s;
   }

   button:hover {
       background-color: #2980b9;
   }
   /* PAGE1-CSS */
   
   @font-face {
       font-family: 'Open Sans Regular';
       font-style: normal;
       font-weight: 400;
       src: url('chrome-extension://gkkdmjjodidppndkbkhhknakbeflbomf/fonts/open_sans/open-sans-v18-latin-regular.woff');
   }

      @font-face {
       font-family: 'Open Sans Bold';
       font-style: normal;
       font-weight: 800;
       src: url('chrome-extension://gkkdmjjodidppndkbkhhknakbeflbomf/fonts/open_sans/open-sans-v18-latin-800.woff');
   }

      .modal-header {
       border-bottom: none;
   }

   .custom-range {
       width: 100%;
       margin: 0;
       padding: 0;
   }

   .custom-range::-webkit-slider-thumb {
       width: 100px;
       height: 20px;
       background-color: #007bff;
       cursor: pointer;
       border-radius: 50%;
   }

   .custom-range::-moz-range-thumb {
       width: 100px;
       height: 20px;
       background-color: #007bff;
       cursor: pointer;
       border-radius: 50%;
   }



   .selected-users {
       margin: 10px;
       font-weight: bold;
       font-size: 18px;
       text-align: center;
   }

   .highlighted-plan {
       border: 2px solid #007bff;
       box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
   }


   /* PAGE2-CSS */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.product {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.product .product-img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    height: 200px;
}

.product .product-content {
    text-align: left;
}

.product .product-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.product .product-category {
    color: #666;
    margin-bottom: 10px;
}

.product .product-description {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.product .product-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product .product-price {
    font-size: 1.2rem;
    color: #007BFF;
}

.product .add-to-cart {
    font-size: 1.5rem;
    color: #007BFF;
    text-decoration: none;
}

.product .add-to-cart:hover {
    color: #0056b3;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


     